<section class="border border-gray-200 shadow-xs rounded bg-gray-200 md:w-1/2 mx-auto my-16 p-4">
  <div>
    <h2 class="mb-3 text-green-600 font-medium text-3xl text-center">Change Password</h2>
  </div>
  <form [formGroup]="changePasswordForm" (ngSubmit)="submitChangePasswordForm()">
    @let currentPasswordControl = changePasswordForm.get('currentPassword');
    <div class="mb-3 relative">
      <label for="currentPassword" class="main-label ms-1">Current Password</label>
      <input
        formControlName="currentPassword"
        [type]="showCurrentPassword ? 'text' : 'password'"
        id="currentPassword"
        class="main-input"
        placeholder="Enter your current password"
      />
      <span class="absolute top-0 right-3 translate-y-[150%] cursor-pointer">
        <i
          (click)="toggleCurrentPassword()"
          [class]="showCurrentPassword ? 'fa-solid fa-eye-slash' : 'fa-solid fa-eye'"
        ></i>
      </span>
      @if (currentPasswordControl?.errors && currentPasswordControl?.touched) {
        <div
          class="flex p-2 mb-4 text-sm text-fg-danger-strong rounded-base bg-danger-soft border border-danger-subtle"
          role="alert"
        >
          <span class="sr-only">Danger</span>
          <div>
            <ul class="my-2 list-disc list-outside space-y-1 ps-5">
              @if (currentPasswordControl?.getError('required')) {
                <li>Current password is required</li>
              }
            </ul>
          </div>
        </div>
      }
    </div>
    @let newPasswordControl = changePasswordForm.get('password');
    <div class="mb-3 relative">
      <label for="password" class="main-label ms-1">New Password</label>
      <input
        formControlName="password"
        [type]="showNewPassword ? 'text' : 'password'"
        id="password"
        class="main-input"
        placeholder="Enter your New password"
      />
      <span class="absolute top-0 right-3 translate-y-[150%] cursor-pointer">
        <i
          (click)="toggleNewPassword()"
          [class]="showNewPassword ? 'fa-solid fa-eye-slash' : 'fa-solid fa-eye'"
        ></i>
      </span>
      @if (newPasswordControl?.errors && newPasswordControl?.touched) {
        <div
          class="flex p-2 mb-4 text-sm text-fg-danger-strong rounded-base bg-danger-soft border border-danger-subtle"
          role="alert"
        >
          <span class="sr-only">Danger</span>
          <div>
            <ul class="my-2 list-disc list-outside space-y-1 ps-5">
              @if (newPasswordControl?.getError('required')) {
                <li>New password is required</li>
              } @else if (newPasswordControl?.getError('pattern')) {
                <span class="font-medium">Password must meet these requirements :</span>
                <li class="mt-2">
                  Minimum eight characters, at least one upper case English letter, one lower case
                  English letter, one number and one special character
                </li>
              }
            </ul>
          </div>
        </div>
      }
    </div>
    @let confirmPasswordControl = changePasswordForm.get('rePassword');
    <div class="mb-3 relative">
      <label for="rePassword" class="main-label ms-1">Confirm Password</label>
      <input
        formControlName="rePassword"
        [type]="showRePassword ? 'text' : 'password'"
        id="rePassword"
        class="main-input"
        placeholder="Rewrite your Password"
      />
      <span class="absolute top-0 right-3 translate-y-[150%] cursor-pointer">
        <i
          (click)="toggleRePassword()"
          [class]="showRePassword ? 'fa-solid fa-eye-slash' : 'fa-solid fa-eye'"
        ></i>
      </span>
      @if (
        (confirmPasswordControl?.errors || changePasswordForm.getError('mismatch')) &&
        confirmPasswordControl?.touched
      ) {
        <div
          class="flex p-2 mb-4 text-sm text-fg-danger-strong rounded-base bg-danger-soft border border-danger-subtle"
          role="alert"
        >
          <span class="sr-only">Danger</span>
          <div>
            <ul class="my-2 list-disc list-outside space-y-1 ps-5">
              @if (confirmPasswordControl?.getError('required')) {
                <li>Confirm password is required</li>
              } @else if (changePasswordForm.getError('mismatch')) {
                <li>Confirm password doesn't match the password</li>
              }
            </ul>
          </div>
        </div>
      }
    </div>
    <div class="flex flex-wrap justify-end">
      <button type="submit" class="btn-main px-3">Confirm</button>
    </div>
  </form>
</section>
