<section class="border border-gray-200 shadow-xs rounded bg-gray-200 md:w-1/2 mx-auto mt-25 p-4">
  <div>
    <h2 class="mb-3 text-green-600 font-medium text-3xl text-center">Reset Password</h2>
  </div>
  <div class="mb-3">
    <label for="reset-code" class="main-label ms-1">Reset Code</label>
    <input
      [formControl]="resetCode"
      type="text"
      id="reset-code"
      class="main-input"
      placeholder="Enter your reset code"
    />
    @if (resetCode.errors && resetCode.touched) {
      <div
        class="flex p-2 mb-4 text-sm text-fg-danger-strong rounded-base bg-danger-soft border border-danger-subtle"
        role="alert"
      >
        <span class="sr-only">Danger</span>
        <div>
          <ul class="my-2 list-disc list-outside space-y-1 ps-5">
            @if (resetCode.getError('required')) {
              <li>Reset code is required</li>
            }
          </ul>
        </div>
      </div>
    }
  </div>
  <div class="flex flex-wrap justify-end">
    <button (click)="submitResetCode()" class="btn-main px-3">
      Submit
      @if (isLoading()) {
        <span>
          <i class="fa-solid fa-spinner animate-spin"></i>
        </span>
      }
    </button>
  </div>
</section>
