<section class="border border-gray-200 shadow-xs rounded bg-gray-200 md:w-1/2 mx-auto my-16 p-4">
  <div>
    <h2 class="mb-3 text-green-600 font-medium text-3xl text-center">Login Now</h2>
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="submitLoginForm()">
    @let emailControl = loginForm.get('email');
    <div class="mb-3">
      <label for="email" class="main-label ms-1">Email Address</label>
      <input
        formControlName="email"
        type="email"
        id="email"
        class="main-input"
        placeholder="Enter your email address"
      />
      @if (emailControl?.errors && emailControl?.touched) {
        <div
          class="flex p-2 mb-4 text-sm text-fg-danger-strong rounded-base bg-danger-soft border border-danger-subtle"
          role="alert"
        >
          <span class="sr-only">Danger</span>
          <div>
            <ul class="my-2 list-disc list-outside space-y-1 ps-5">
              @if (emailControl?.getError('required')) {
                <li>Email address is required</li>
              } @else if (emailControl?.getError('email')) {
                <li>Please enter a valid email address</li>
              }
            </ul>
          </div>
        </div>
      }
    </div>
    @let passwordControl = loginForm.get('password');
    <div class="mb-3 relative">
      <label for="password" class="main-label ms-1">Password</label>
      <input
        formControlName="password"
        [type]="showPass ? 'text' : 'password'"
        id="password"
        class="main-input"
        placeholder="Enter your password"
      />
      <span class="absolute top-0 right-3 translate-y-[150%] cursor-pointer">
        <i
          (click)="togglePassword()"
          [class]="showPass ? 'fa-solid fa-eye-slash' : 'fa-solid fa-eye'"
        ></i>
      </span>
      @if (passwordControl?.errors && passwordControl?.touched) {
        <div
          class="flex p-2 mb-4 text-sm text-fg-danger-strong rounded-base bg-danger-soft border border-danger-subtle"
          role="alert"
        >
          <span class="sr-only">Danger</span>
          <div>
            <ul class="my-2 list-disc list-outside space-y-1 ps-5">
              @if (passwordControl?.getError('required')) {
                <li>Password is required</li>
              } @else if (passwordControl?.getError('pattern')) {
                <span class="font-medium">Password must meet these requirements :</span>
                <li class="mt-2">
                  Minimum eight characters, at least one upper case English letter, one lower case
                  English letter, one number and one special character
                </li>
              }
            </ul>
          </div>
        </div>
      }
    </div>
    <span (click)="forgetPassword()" class="text-green-600 cursor-pointer">Forget Password ?</span>
    <div class="flex flex-wrap justify-end">
      <button type="submit" class="btn-main px-3">
        Login
        @if (isLoading()) {
          <span>
            <i class="fa-solid fa-spinner animate-spin"></i>
          </span>
        }
      </button>
    </div>
  </form>
</section>
